* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    background: #141414;
}

.shadow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 400px;
    height: 250px;

    background: linear-gradient(0deg, #000, #141414);
    overflow: hidden;
}

.shadow::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: linear-gradient(45deg, #fb0094, #0000ff);
    animation: anim 1s linear infinite;
}

.shadow::after {
    content: "";
    position: absolute;
    inset: 2%;

    background: #141414;
}

@keyframes anim {
    0% {
        transform: rotate(0) scale(2);
    }
    100% {
        transform: rotate(360deg) scale(2);
    }
}
